@keyframes slideLeft {
  0% {
    left: 100%;
    width: 0%; }
  5% {
    left: 0%; }
  25% {
    left: 0%; }
  30% {
    left: -250rem; }
  30.0001% {
    left: -100%;
    width: 100%; }
  100% {
    left: -100%;
    width: 0%; } }

@keyframes slideLeft2 {
  0% {
    left: 200rem; }
  25% {
    left: 150rem; }
  50% {
    left: 25rem; }
  75% {
    left: 10rem; }
  100% {
    left: 0; } }

.active {
  display: block !important; }

.slide-left {
  animation: slideLeft 2s ease-in-out; }

.slide-left2 {
  animation: slideLeft2 2s ease-in-out; }

.effects {
  transform: translateX(-234rem); }

.text-center {
  text-align: center; }

.filter {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.4;
  background-color: #000000; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #777; }

.heading__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%; }

.heading-primary {
  color: white;
  font-size: 15rem; }

/*
#section-2{
    background-image: url(../img/nat02.jpg);
}

#section-3{
    background-image: url(../img/nat03.jpg);
}

#section-4{
    background-image: url(../img/nat04.jpg);
}

.section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
*/
.arrow {
  position: absolute;
  height: 5rem;
  width: 5rem;
  z-index: 2;
  top: 50%; }
  .arrow--left {
    background-image: url(../img/arrow-light-left.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0; }
  .arrow--right {
    background-image: url(../img/arrow-light-right.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0; }
  .arrow:hover {
    cursor: pointer; }

.slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .2s; }
  .slide--1 {
    background-image: url(../img/nat01.jpg);
    z-index: 1;
    transform: translateX(0); }
  .slide--2 {
    background-image: url(../img/nat02.jpg);
    display: none;
    z-index: 1;
    transform: translateX(0); }
  .slide--3 {
    background-image: url(../img/nat03.jpg);
    display: none;
    z-index: 1;
    transform: translateX(0); }
  .slide__text {
    color: orange;
    font-size: 10rem; }

.slider {
  width: 100%;
  height: 100vh;
  transition: all .2s; }
