@keyframes slideLeft {
    0%        {left: 0rem;}
    5%        {left: -1rem;}
    25%       {left: -100rem;}
    30%       {left: -122rem}
    100%      {left: -144rem;}
}

@keyframes slideLeft2 {
    0% {left: 200rem;}
    25%  {left: 150rem;}
    50%  {left: 25rem;}
    75%  {left: 10rem;}
    100%   {left: 0;}
}