.slide {
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    
    position: absolute;
    top: 0;
    right: 0;
    //transition: transform .5s ease-in-out;
    
    &--1 {
        background-image: url(../img/nat01.jpg);
        z-index: 1;
        display: none;
    }

    &--2 {
        background-image: url(../img/nat02.jpg);
        display: none;
        z-index: 1;
        
    }

    &--3 {
        background-image: url(../img/nat03.jpg);
        display: none;
        z-index: 1;
        
    }

    &__text {
        color: orange;
        font-size: 10rem;
    }
}

.slider {
    width: 100%;
    height: 100vh;
}
