.slide {
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .2s;
    
    &--1 {
        background-image: url(../img/nat01.jpg);
        z-index: 1;
        transform: translateX(0);
    }

    &--2 {
        background-image: url(../img/nat02.jpg);
        display: none;
        z-index: 1;
        transform: translateX(0);
    }

    &--3 {
        background-image: url(../img/nat03.jpg);
        display: none;
        z-index: 1;
        transform: translateX(0);
    }

    &__text {
        color: orange;
        font-size: 10rem;
    }
}

.slider {
    width: 100%;
    height: 100vh;
}
