body {
    font-family: 'Open Sans',;
    font-weight: 400;
    color: $color-grey-dark;
}

.heading__text-box {
    @include centerElement;
    z-index: 3;
    width: 100%;
}

.heading-primary {
    color: white;
    font-size: 15rem;
}
